rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() { return request.auth != null; }
    function isCampaignPlayer(campaignId) {
      return isSignedIn() && exists(/databases/$(database)/documents/campaigns/$(campaignId)) &&
        (request.auth.uid in get(/databases/$(database)/documents/campaigns/$(campaignId)).data.players);
    }

    match /campaigns/{campaignId} {
      allow read: if isCampaignPlayer(campaignId);
      allow create: if isSignedIn();
      allow update: if isCampaignPlayer(campaignId);

      match /sessions/{sessionId} {
        allow read, create, update, delete: if isCampaignPlayer(campaignId);
      }
    }
  }
}

